<html lang="en">
<head>
  <link rel="stylesheet" type="text/css" href="style.css">
  <link rel="stylesheet" type="text/css" href="style1.css">
  <link rel="stylesheet" type="text/css" href="bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="bootstrap-theme.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  
<style>
.column {
  float: left;
  width: 33.33%;
}
 
/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
a:link {
  color: black;
}
</style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="column">
        <a href="https://twitter.com/COVIDPoops19"><i class="fa fa-external-link"></i> Tweeting/retweeting all things wastewater & SARS-CoV-2</a> 
        <div class="bigspacer"></div>
        <a href="https://ucmerced.maps.arcgis.com/apps/dashboards/c778145ea5bb4daeb58d31afee389082"><i class="fa fa-external-link"></i> Summary of Global SARS-CoV-2 Wastewater Monitoring Efforts by UC Merced Researchers</a>
      </div>
      <div class="column">
        <a href="https://sphere.waterpathogens.org/"><i class="fa fa-external-link"></i> Waste water SARS Public Health Environmental Response, or W-SPHERE</a>  
        <div class="bigspacer"></div>
        <a href="https://www.gov.uk/government/collections/monthly-statistics-for-the-environmental-monitoring-for-health-protection-emhp-wastewater-program-england"><i class="fa fa-external-link"></i> Monthly statistics for the Environmental Monitoring for Health Protection (EMHP) wastewater program (England)</a>
      
      </div>
      <div class="column">
        <a href="https://www.gov.scot/collections/coronavirus-covid-19-modelling-the-epidemic/"><i class="fa fa-external-link"></i> Coronavirus (COVID-19): modelling the epidemic - Scotland</a>
        <div class="bigspacer"></div>
        <a href="https://www.gov.scot/collections/coronavirus-covid-19-modelling-the-epidemic/"><i class="fa fa-external-link"></i> Coronavirus (COVID-19): modelling the epidemic - Scotland</a>
        <div class="bigspacer"></div>
      </div>
    
    </div>
  </div>
 <div class="bigspacer"></div>
 <div class="bigspacer"></div>
</body>
</html>
