<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<title>Horizontal Navigation Bar w/Rollover Effect</title> 
<style type="text/css"> 
<!-- 
 
 #navbar ul { 
	margin: 0; 
	padding: 0; 
	list-style-type: none; 
	text-align: center; 
	background-color: ##157878; 
	} 
 
#navbar ul li {  
	display: inline; 
	} 
 
#navbar ul li a { 
	text-decoration: none; 
	padding: .2em 1em; 
	color: #fff; 
	background-color: #157878; 
	} 
 
#navbar ul li a:hover { 
	color: #157878; 
	background-color: #fff; 
	} 
 
--> 
</style> 
</head> 
<body> 
<div id="navbar"> 
  <ul> 
	<li><a href=".">Home</a></li> 
	<li><a href="Datafromsepa">Data</a></li> 
	<li><a href="Methodsdevelopment">Methods</a></li> 
	<li><a href="Monitoringinwastewater">Monitoring</a></li> 
	<li><a href="Partners">Partners</a></li> 
        <li><a href="Prevalanceinwastewater">Prevalance</a></li>
        <li><a href="Protocols">Protocols</a></li>
 </ul> 
</div> 
</body> 
</html>
