<link rel="stylesheet" type="text/css" href="style.css">
<table class="table navigation">
     <tr>
         <td><a href=".">Home</a></td>
         <td><a href="Datafromsepa">Data from SEPA</a></td>
         <td><a href="Methodsdevelopment">Methods development</a></td>
         <td><a href="Monitoringinwastewater">Monitoring in waste water</a></td>
         <td><a href="Partners">Partners</a></td>
         <td><a href="Prevalanceinwastewater">Prevalance in waste water</a></td>
         <td><a href="Protocols">Protocols</a></td>
     </tr>
 </table>
 <hr>

